.testimonial-box {
  background-color: rgb(251, 252, 251);
}
.rounded-circle {
  position: relative;
  width: 40px;
  height: 40px;
  box-shadow: rgba(17, 17, 17, 0.1) 0px 0px 2px inset;
  border-radius: 50%;
  overflow: hidden;
}
.testimonial-box {
  position: relative;
  transition: background-color 0.1s ease 0s;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding: 24px;
  border-radius: 34px;
  background-color: rgba(255, 255, 255, 0.1);
}
.testimonial-box h5 {
  color: #fff;
  font-family: lato-regular, Arial Black, Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.testimonial-box p {
  color: #fff;
}
.test-head {
  margin-right: 30px;
  margin-bottom: 50px;
}
.checked {
  color: orange;
}
.testimonialheading {
  line-height: 1.32;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  color: rgb(255, 255, 255);
}
.loadmorebutton {
  padding: 8px 51px;
  background-color: rgba(180, 23, 23, 0);
  color: #fff;
}
.contactinfo {
  font-family: Nunito Sans, sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.button-container {
  display: flex;
  justify-content: center;
}
.cta__buttn {
  color: black !important;
}
