.banner-slider {
    position: relative;
  }
  
  .slide {
    position: relative;
  }
  
  .slide img {
    width: 100%;
    height: 600px;
    position: relative;
   width: 100%;
   max-width: 100%;
 
  }
  
  .caption h5{
    position: absolute;
    bottom: 65%;
    left: 20%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-weight: 300!important;
    font-size: 25px;
    color: #7f7f7f;
    font-family: 'Montserrat', sans-serif!important;
    letter-spacing: 3px;
    /* font-weight: 300; */
    margin-bottom: 20px;
  
  }
.subhead h1{
    position: absolute;
    bottom: 55%;
    left: 27%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: #666666;
    font-size: 36px;
    margin-bottom: 20px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.subhead h1 span{
  color: #5fc7ae;
}
   



.des p{
  position: absolute;
  bottom: 50%;
  left: 28%;
  transform: translateX(-50%);
  
  font-family: 'Lato', sans-serif !important;
  font-size: 20px;
  word-spacing: 7px;

  margin-top: 20px;
}

.banner-btn {
  background: transparent;
  color: #666666;
  display: inline-block;
  border: 1px solid #5FC7AE;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 36px;
  overflow: hidden;
  padding: 0 30px;
  border-radius: 25px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

  .arrow-prev,
  .arrow-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #fff;
    background-color:rgb(147,202,188);
    width: 35px;
   text-align: center;
    cursor: pointer;
    z-index: 10;
  }
  .arrow-prev:hover{
    background: rgb(95,199,174);
  }
  .arrow-next:hover{
    background: rgb(95,199,174);
  }
  
  .arrow-prev {
    left: 20px;
  }
  
  .arrow-next {
    right: 20px;
  }
  /* video css */
  video {
    width: 100%;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 600px;
  }

  .content h5{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20%;
    left: 15.5%;
    font-weight: 400!important;
    font-size: 25px;
    color: #7f7f7f;
    font-family: 'Montserrat', sans-serif!important;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }
  .content h1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 27%;
    left: 14.8%;
   font-size: 35px;
   color: rgb(54, 54, 54);

  }
  .content h1 span{
    color: #5fc7ae;
  }
  .content p {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 36%;
    left: 14.5%;
    font-size: 19px;
    display: block;
    
    color: rgb(54, 54, 54);

  }
  .content .banner-btn{
    position: absolute;
    top: 44%;
    left: 16.5%;
    transform: translateX(-50%);
   
   z-index: 999;
    padding: 0 25px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    color: rgb(54, 54, 54);
  }


  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
   
    background-color: rgba(0,0,0,.4);

  }

/* end */


/* Responsive styles */

@media (max-width: 767px) {
  .slide img {
    width: 100%;
    height: auto;
    position: relative;
   width: 100%;
   max-width: 100%;
 
  }
  .caption {
    font-size: 14px;
    padding: 5px 10px;
  }

  .arrow-prev,
  .arrow-next {
    font-size: 20px;
  }
  .caption h5{
    position: absolute;
    bottom: 60%;
    left: 27%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-weight: 300!important;
    font-size: 16px;
    color: #7f7f7f;
    font-family: 'Montserrat', sans-serif!important;
    letter-spacing: 3px;
  
    margin-bottom: 20px;
  
  }
  .subhead h1{
    position: absolute;
    bottom: 50%;
    left: 35%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: #666666;
    font-size: 23px;
    margin-bottom: 20px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.des p{
  position: absolute;
  bottom: 35%;
  left: 38%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-family: 'Lato', sans-serif !important;
  font-family: 'Montserrat', sans-serif!important;
  font-size: 15px;
  font-weight: 500;
  color: #7f7f7f;
  
  margin-top: 20px;
}
.button{
  position: absolute;
  bottom: 25%;
  left: 19%;
  transform: translateX(-50%);
  padding: 5px 15px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;  
  text-transform: capitalize;
}
  

  .content h1 {
    top: 22%;
    left: 14%;
 
    color: #666666;
    font-size: 23px;
    margin-bottom: 20px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .content p {
    top: 31%;
    left: 13%;
   
    font-family: 'Montserrat', sans-serif!important;
    font-size: 15px;
    font-weight: 500;
    color: #666666;
  }

  .content .banner-btn {
    top: 41%;
    left: 17%;
    font-size: 15px;
    color: #666666;
    padding: 0 20px;
  }
}
@media (max-width: 499px) {
    .slide img {
    object-fit: cover;
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    }
    .arrow-prev,
    .arrow-next {
      font-size: 20px;
    }
    .caption h5{
      position: absolute;
      bottom: 65%;
      left: 34%;
      transform: translateX(-50%);
      padding: 10px 20px;
      font-weight: 300!important;
      font-size: 13px;
      color: #7f7f7f;
      font-family: 'Montserrat', sans-serif!important;
      letter-spacing: 3px;
      margin-bottom: 20px;
    
    }
    .subhead h1{
      position: absolute;
      bottom: 53%;
      left: 37%;
      transform: translateX(-50%);
      padding: 10px 20px;
      color: #666666;
      font-size: 15px;
      margin-bottom: 20px ;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
  }
  .des p{
    position: absolute;
    bottom: 30%;
    left: 38%;
    transform: translateX(-50%);
    padding: 10px 20px;
    
    font-family: 'Lato', sans-serif !important;
    font-size: 12px;
    
    /* text-align: justify;   */
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .banner-btn {
    /* position: absolute;  */
    /* bottom: 20%; */
    left: 23%;
    background: transparent;
    color: #666666;
    display: inline-block;
    border: 1px solid #5FC7AE;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 26px;
    overflow: hidden;
    padding: 0 25px;
    border-radius: 25px;
    position: relative;
    
    
    text-align: center;
    text-transform: capitalize;
   
    transition: all 0.5s ease 0s;
  }
  
  
    video {
      height: 225px;
    }
  
    .content h5 {
      top: 25%;
      left: 14%;
      
      font-size: 13px;
      color: #7f7f7f;
      font-family: 'Montserrat', sans-serif!important;
      letter-spacing: 3px;
      font-weight: 500!important;
      /* margin-bottom: 20px; */
    }
  
    .content h1 {
      top: 32%;
      left: 13.5%;
      font-size: 20px;
      color: #666666;
      font-size: 15px;
      margin-bottom: 20px ;
      word-spacing: 3px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }
  
    .content p {
      top: 38%;
      left: 11.5%;
      font-size: 13px;
    }
  
    .content .banner-btn {
      top: 50%;
      left: 16.5%;
      font-size: 15px;
      color: #666666;
      line-height: 26px!important;
      padding: 0px 20px;
      
    }
  }