header {
  background-color: #6715ab;
}
.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}
.md-button {
  text-transform: none;
}
.css-9tj150-MuiButton-endIcon {
  display: inline-block !important;
}
