 
  
  
  



.slick-prev:hover,  .slick-next:hover {
    display:contents;
    outline: none;
    background-color:rgb(247,107,106);
    /* background:rgb(0,35,77); */
}

 
  /* Add more custom styles as needed */
 .card-menu{
    padding: 0px 10px;
  }
  .card img{
    height: 300px;
  }
  .staff__item
  {
    padding-top: 60px;
  }