@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&amp;family=Nunito+Sans:wght@400;600;900&amp;display=swap");
body {
  -webkit-font-smoothing: antialiased;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  overflow-x: hidden;
}

.section h1,
.section h2,
.section h3,
.section h4,
.section h5,
.section h6 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  margin-bottom: 1rem;
}
.section h1 {
  font-size: 56px;
  line-height: 3rem;
}
.section h2 {
  font-size: 38px;
  line-height: 46px;
}
.section h3 {
  font-size: 24px;
}
.section h4 {
  font-size: 20px;
}
.section h5 {
  font-size: 18px;
}
.section p {
  margin-bottom: 0.5rem;
}
.section p:empty {
  display: none;
}
.section .component__title {
  margin-bottom: 1rem !important;
}
.section .component__subtitle {
  margin-bottom: 1.25rem !important;
}
.section .component__link--1,
.section .component__link--2,
.section .component__link--3,
.section .editable__container a,
.section .blade-a__readmore a,
.section .featuredarticle__link {
  padding: 0.1rem;
  background-position: 0 -0.1em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background 0.5s;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}
.section .component__link--1:hover,
.section .component__link--2:hover,
.section .component__link--3:hover,
.section .editable__container a:hover,
.section .blade-a__readmore a:hover,
.section .featuredarticle__link:hover {
  background-size: 100% 100%;
  text-decoration: none;
}
.section .logo-a {
  margin: 0;
}
.section .cta {
  padding: 8px 0;
}
.section .cta__button {
  margin: 0;
}
.section .blade-a__readmore a,
.section .featuredarticle__link {
  text-decoration: none;
  position: relative;
  padding-right: 15px;
}
.section .blade-a__readmore a:after,
.section .featuredarticle__link:after {
  content: "";
  display: inline-block;
  font: normal normal normal 14px/1 font-awesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  right: 0;
  top: 5px;
}
.section .featuredarticles.layout--12 .featuredarticle__link:hover,
.section .featuredarticles.layout--8 .featuredarticle__link:hover,
.section .featuredarticles.layout--6 .featuredarticle__link:hover,
.section .featuredarticles.layout--4 .featuredarticle__link:hover {
  text-decoration: none;
}
.section .component__title:not(.staff-member__name),
.section .form__title {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-size: 48px;
  letter-spacing: -0.6px;
}
.section .component__subtitle,
.section .form__caption {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 1px;
}
.section p,
.section .component__p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.section .cta__button,
.section .component__button--1,
.section .component__button--2,
.section .component__button--3,
.section .cta__button--icon,
.section .form-wrap__submit input,
.section .map-a .map-search__submit {
  font-family: "DM Serif Text", serif;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 8px 52px;
  border-radius: 0;
  transition: all 0.2s ease 0s;
}
.section .cta__button:hover,
.section .component__button--1:hover,
.section .component__button--2:hover,
.section .component__button--3:hover,
.section .cta__button--icon:hover,
.section .form-wrap__submit input:hover,
.section .map-a .map-search__submit:hover {
  transform: translate(5px, 5px);
}
.section .map-a .map-search__submit {
  transition: none;
}
.section .map-a .map-search__submit:hover {
  transform: none;
}
.section .cta__button--icon {
  display: inline-block;
  line-height: 1.2;
}

.phone__wrapper .row.justify-content-end {
  text-align: right;
}
.phone__wrapper .phone__title.component__title {
  display: block;
  margin: 0 0 8px !important;
  font-size: 20px;
}
.phone__wrapper .phone__city,
.phone__wrapper .phone__setting-title {
  padding: 0;
  margin: 0 0 8px;
  font-size: 16px;
}
.phone__wrapper .phone__setting-title {
  display: inline-block;
  margin-right: 8px;
}
.phone__wrapper .phone__number {
  display: inline-block;
  margin: 0 0 8px;
  font-size: 18px;
  line-height: 1.5;
}

.section .alias-header_logo,
.section .alias-header_logo_sticky {
  padding-bottom: 18px;
}

.section-blade .blade-a__readmore {
  margin-bottom: 0.5rem;
}

.blade-a {
  position: relative;
  overflow: hidden;
}

.section .banner .banner-c__title {
  font-size: 56px;
  margin: 0 auto;
  line-height: 1.2 !important;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 4s steps(44) 1s 1 normal both;
}
.section .banner .text-right .banner-c__title {
  text-align: center !important;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.section .banner .component__button--1.cta__button,
.section .banner .component__button--2.cta__button,
.section .banner .component__button--3.cta__button {
  width: auto;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2px;
}

.section-banner .section--dark .form__caption,
.section-banner .section--dark .label_container label,
.section-banner .section--dark .leadFormInfo {
  color: #000;
}
.section-banner .section--dark .form-wrap__submit input {
  font-weight: 400;
  line-height: 1.2;
  width: auto;
  height: auto;
  padding: 6px 52px;
  color: #fff;
}
.section-staff .staff-member__prefix,
.section-staff .staff-member__first-last,
.section-staff .staff-member__suffix {
  font-size: 24px;
}
.section-staff .staff-b--12 .component__title-caption-wrap {
  padding-left: 15px;
  padding-right: 15px;
}
.section-staff .staff-grid .staff-member__text {
  display: flex;
}
.section-staff
  .staff-grid
  .staff-member__text
  .col-sm-12.justify-content-center {
  justify-content: flex-start !important;
}
.section-staff .staff-grid .staff__item .component__link--1,
.section-staff .staff-grid .staff__item .component__link--2,
.section-staff .staff-grid .staff__item .component__link--3 {
  width: auto;
}
.section-staff .staff-c .staff__item .component__link--1,
.section-staff .staff-c .staff__item .component__link--2,
.section-staff .staff-c .staff__item .component__link--3 {
  padding: 0.1rem;
}
.section-staff .staff-c .staff__item .component__button--1,
.section-staff .staff-c .staff__item .component__button--2 {
  padding: 8px 52px;
}

.section--dark .navigation-a .navigation__list--sub .navigation__item {
  padding: 10px 12px;
}
.section--dark
  .navigation-a
  .navigation__list--sub
  .navigation__item.navigation-open
  .navigation__item--link {
  background: none;
  color: #fff !important;
}
.section--dark
  .navigation-a
  .navigation__list--sub
  .navigation__item.navigation-open
  .navigation__item--link:after {
  border-color: transparent transparent transparent #fff !important;
}
.section--dark .navigation-a .navigation__list--sub .navigation__item--link {
  padding: 5px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
}
.section--dark
  .navigation-a
  .navigation__list--sub
  .navigation__item--link:hover {
  color: #fff !important;
}
.section--dark .editable__container a {
  color: #fff;
  text-decoration: none;
}
.section--dark .editable__container a:hover {
  color: #fff;
}
.section--dark .component__button--1 {
  width: auto;
  background: #fff;
  border: none;
}
.section--dark .component__button--1:hover {
  background: #fff;
  border: none;
}
.section--dark .component__button--2 {
  width: auto;
  background: #fff;
  border: none !important;
}
.section--dark .component__button--2:hover {
  background: #fff !important;
  border: none !important;
}
.section--dark .component__button--3 {
  width: auto;
  padding: 6px 52px;
  color: #fff !important;
  box-shadow: #fff 5px 5px 0 0;
  border: 2px solid #fff !important;
}
.section--dark .component__button--3:hover {
  color: #fff !important;
  box-shadow: #fff 0 0 0 0;
  border: 2px solid #fff !important;
}
.section--dark .banner:not(.terrier) .cta__link:hover,
.section--dark .banner:not(.terrier) .cta__link--icon:hover {
  color: #fff;
}
.section--dark .banner .component__button--1.cta__button,
.section--dark .banner .component__button--1.cta__button--icon {
  background: #0384d7;
  border: none;
}
.section--dark .banner .component__button--1.cta__button:hover,
.section--dark .banner .component__button--1.cta__button--icon:hover {
  background: #0384d7;
  border: none;
}
.section--dark .banner .component__button--2.cta__button,
.section--dark .banner .component__button--2.cta__button--icon {
  background: #fff !important;
  border: none !important;
}
.section--dark .banner .component__button--3.cta__button,
.section--dark .banner .component__button--3.cta__button--icon {
  padding: 6px 52px;
  color: #fff !important;
  box-shadow: #fff 5px 5px 0 0;
  border: 2px solid #fff !important;
}
.section--dark .banner .component__button--3.cta__button:hover,
.section--dark .banner .component__button--3.cta__button--icon:hover {
  box-shadow: #fff 0 0 0 0;
}
.section--dark .staff__list .component__button--1:hover,
.section--dark .staff__list .component__button--2:hover,
.section--dark .staff__list .component__button--3:hover,
.section--dark .staff__list .component__link--1:hover,
.section--dark .staff__list .component__link--2:hover,
.section--dark .staff__list .component__link--3:hover {
  text-decoration: none;
}
.section--dark .contact-us p.leadFormInfo {
  color: #fff;
}

body .section--light .editable__container p,
body .section--light .editable__container ol,
body .section--light .editable__container ul,
body .section--light .editable__container li,
body .section--light .editable__container td,
body .section--light .editable__container span {
  color: #000;
}

.section--light .navigation-a .navigation__list--sub {
  background: white !important;
}
.section--light .navigation-a .navigation__list--sub .navigation__item {
  padding: 10px 12px;
}
.section--light
  .navigation-a
  .navigation__list--sub
  .navigation__item.navigation-open
  .navigation__item--link {
  background: none;
  color: black !important;
}
.section--light
  .navigation-a
  .navigation__list--sub
  .navigation__item.navigation-open
  .navigation__item--link:after {
  border-color: transparent transparent transparent black !important;
}
.section--light
  .navigation-a
  .navigation__list--sub
  .navigation__item.navigation-open
  .navigation__item--link:hover {
  color: #fff !important;
}
.section--light
  .navigation-a
  .navigation__list--sub
  .navigation__item.navigation-open
  .navigation__item--link:hover:after {
  border-color: transparent transparent transparent white !important;
}
.section--light .navigation-a .navigation__list--sub .navigation__item--link {
  padding: 5px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  color: black;
}
.section--light
  .navigation-a
  .navigation__list--sub
  .navigation__item--link:hover {
  color: #fff !important;
}
.section--light .component__title.staff-member__name,
.section--light .component__subtitle,
.section--light .form__caption {
  color: #000;
}
.section--light .blade-a__readmore a,
.section--light .editable__container a {
  color: #000;
}
.section--light .blade-a__readmore a:hover,
.section--light .editable__container a:hover {
  color: #000;
}
.section--light .featuredarticles.layout--12 .featuredarticle__link,
.section--light .featuredarticles.layout--8 .featuredarticle__link,
.section--light .featuredarticles.layout--6 .featuredarticle__link,
.section--light .featuredarticles.layout--4 .featuredarticle__link {
  color: #000;
}
.section--light .featuredarticles.layout--12 .featuredarticle__link:hover,
.section--light .featuredarticles.layout--8 .featuredarticle__link:hover,
.section--light .featuredarticles.layout--6 .featuredarticle__link:hover,
.section--light .featuredarticles.layout--4 .featuredarticle__link:hover {
  color: #000;
}
.section--light p,
.section--light .component__p,
.section--light .editable__container h1,
.section--light .editable__container h2,
.section--light .editable__container h3,
.section--light .editable__container h4,
.section--light .editable__container h5,
.section--light .editable__container h6,
.section--light .component__link--1,
.section--light .component__link--2,
.section--light .component__link--3 {
  color: #000;
}
.section--light .navigation-a .navigation__item--link {
  color: #000;
}
.section--light .navigation-a .navigation__item--link:hover {
  color: #fff;
}
.section--light .component__button--1 {
  width: auto;
  border: 1px solid #0384d7 !important;
  color: #fff !important;
  background-color: #0384d7 !important;
}
/* .section--light .component__button--1:hover {
  color: #fff !important;
  border: none !important;
} */
.section--light .component__button--2 {
  width: auto;
  color: #fff !important;
  border: none !important;
}
.section--light .component__button--2:hover {
  color: #fff !important;
  border: none !important;
}
.section--light .component__button--3 {
  width: auto;
  padding: 6px 52px;
  color: #fff !important;
}
.section--light .component__button--3:hover {
  color: #fff !important;
}
.section--light .banner:not(.terrier) .cta__link,
.section--light .banner:not(.terrier) .cta__link--icon {
  color: #000;
}
.section--light .banner:not(.terrier) .cta__link:hover,
.section--light .banner:not(.terrier) .cta__link--icon:hover {
  color: #000;
}
.section--light .banner .component__button--1.cta__button,
.section--light .banner .component__button--1.cta__button--icon {
  color: #fff !important;
  border: none !important;
}
.section--light .banner .component__button--1.cta__button:hover,
.section--light .banner .component__button--1.cta__button--icon:hover {
  color: #fff !important;
  border: none !important;
}
.section--light .banner .component__button--2.cta__button,
.section--light .banner .component__button--2.cta__button--icon {
  color: #fff !important;
  border: none !important;
}
.section--light .banner .component__button--2.cta__button:hover,
.section--light .banner .component__button--2.cta__button--icon:hover {
  color: #fff !important;
  border: none !important;
}
.section--light .banner .component__button--3.cta__button,
.section--light .banner .component__button--3.cta__button--icon {
  padding: 6px 52px;
  color: #fff !important;
}
.section--light .banner .component__button--3.cta__button:hover,
.section--light .banner .component__button--3.cta__button--icon:hover {
  color: #fff !important;
}

.section-form .section--light .form__caption {
  color: #000;
}
.section-form .section--dark pre {
  color: #fff;
}

.section-staff .section--dark .staff__title,
.section-staff .section--dark .staff__caption {
  color: #fff;
}
.section-testimonials .section--dark .testimonials-d .flex-slider .flex-prev {
  left: -10px;
  margin-top: 50px;
}
.section-testimonials .section--dark .testimonials-d .flex-slider .flex-next {
  right: -10px;
  margin-top: 50px;
}

.section-map .section--light .map-a .map-search__submit {
  font-weight: 400;
  line-height: 1.2;
  width: auto;
  height: 100%;
  padding: 6px 12px;
  color: #fff;
}
.section-map .section--dark .map-a .map-search__submit {
  font-weight: 400;
  line-height: 1.2;
  width: auto;
  height: 100%;
  padding: 6px 12px;
  color: #fff;
}
.section-map .section--dark .map-a .map-search__submit:hover {
  border: 2px solid #fff;
}

.section-featuredblocks .featuredblocks-grid-a .featuredblock__title,
.section-featuredblocks .featuredblocks-grid-b .featuredblock__title,
.section-featuredblocks .featuredblocks-grid-c .featuredblock__title,
.section-featuredblocks .featuredblocks-grid-d .featuredblock__title,
.section-featuredblocks .featuredblocks-grid-e .featuredblock__title,
.section-featuredblocks .featuredblocks-grid-f .featuredblock__title {
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 1.25rem;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-a
  .featuredblock__content
  p,
.section-featuredblocks
  .section--light
  .featuredblocks-grid-b
  .featuredblock__content
  p {
  color: #fff;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-a
  .featuredblock__cta
  .cta__button,
.section-featuredblocks
  .section--light
  .featuredblocks-grid-a
  .featuredblock__cta
  .cta__button--icon,
.section-featuredblocks
  .section--light
  .featuredblocks-grid-b
  .featuredblock__cta
  .cta__button,
.section-featuredblocks
  .section--light
  .featuredblocks-grid-b
  .featuredblock__cta
  .cta__button--icon {
  font-family: "DM Serif Text", serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 6px 52px;
  border: 2px solid #fff !important;
  box-shadow: #fff 5px 5px 0 0;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-a
  .featuredblock__cta
  .cta__button:hover,
.section-featuredblocks
  .section--light
  .featuredblocks-grid-a
  .featuredblock__cta
  .cta__button--icon:hover,
.section-featuredblocks
  .section--light
  .featuredblocks-grid-b
  .featuredblock__cta
  .cta__button:hover,
.section-featuredblocks
  .section--light
  .featuredblocks-grid-b
  .featuredblock__cta
  .cta__button--icon:hover {
  box-shadow: #fff 0 0 0 0;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-a
  .featuredblock__cta
  .cta__button--icon,
.section-featuredblocks
  .section--light
  .featuredblocks-grid-b
  .featuredblock__cta
  .cta__button--icon {
  margin-top: 1.875rem;
  color: #fff;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-a
  .featuredblock__cta
  .component__link--1:hover,
.section-featuredblocks
  .section--light
  .featuredblocks-grid-b
  .featuredblock__cta
  .component__link--1:hover {
  color: #fff;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-c
  .featuredblock__title {
  color: #000;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-c
  .featuredblock__cta
  .cta__button,
.section-featuredblocks
  .section--light
  .featuredblocks-grid-c
  .featuredblock__cta
  .cta__button--icon {
  font-family: "DM Serif Text", serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 6px 52px;
  color: #fff !important;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-c
  .featuredblock__cta
  .cta__button--icon {
  margin-top: 1.875rem;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-c
  .featuredblock__cta
  .cta__button--icon:hover {
  color: #fff;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-c
  .featuredblock__cta
  .component__button--1 {
  padding: 6px 30px;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-c
  .featuredblock__cta
  .component__link--1 {
  padding: 0.1rem;
  color: #000;
  text-decoration: underline;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-c
  .featuredblock__cta
  .component__link--1:hover {
  text-decoration: none;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-d
  .featuredblock__content
  p {
  color: #fff;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-d
  .featuredblock__cta
  .cta__button,
.section-featuredblocks
  .section--light
  .featuredblocks-grid-d
  .featuredblock__cta
  .cta__button--icon {
  font-family: "DM Serif Text", serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 6px 52px;
  color: #fff !important;
  border: 2px solid #fff !important;
  box-shadow: #fff 5px 5px 0 0;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-d
  .featuredblock__cta
  .cta__button:hover,
.section-featuredblocks
  .section--light
  .featuredblocks-grid-d
  .featuredblock__cta
  .cta__button--icon:hover {
  box-shadow: #fff 0 0 0 0;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-d
  .featuredblock__cta
  .cta__button--icon {
  margin-top: 1.875rem;
  color: #fff;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-d
  .featuredblock__cta
  .component__button--1 {
  padding: 6px 20px;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-d
  .featuredblock__cta
  .component__link--1:hover {
  color: #fff;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-e
  .featuredblock__title {
  color: #000;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-e
  .featuredblock__content
  p {
  color: #fff;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-e
  .featuredblock__item:hover
  .featuredblock__title {
  color: #fff;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-e
  .featuredblock__cta
  .cta__button,
.section-featuredblocks
  .section--light
  .featuredblocks-grid-e
  .featuredblock__cta
  .cta__button--icon {
  font-family: "DM Serif Text", serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 6px 52px;
  color: #fff !important;
  border: 2px solid #fff !important;
  box-shadow: #fff 5px 5px 0 0;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-e
  .featuredblock__cta
  .cta__button:hover,
.section-featuredblocks
  .section--light
  .featuredblocks-grid-e
  .featuredblock__cta
  .cta__button--icon:hover {
  box-shadow: #fff 0 0 0 0;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-e
  .featuredblock__cta
  .cta__button--icon {
  margin-top: 1.875rem;
  color: #fff;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-e
  .featuredblock__cta
  .component__link--1:hover {
  text-decoration: none;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-f
  .featuredblock__cta
  .cta__button,
.section-featuredblocks
  .section--light
  .featuredblocks-grid-f
  .featuredblock__cta
  .cta__button--icon {
  font-family: "DM Serif Text", serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 6px 52px;
  color: #fff !important;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-f
  .featuredblock__cta
  .cta__button--icon {
  display: inline-block;
  color: #fff;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-f
  .featuredblock__cta
  .cta__button--icon:hover {
  color: #fff;
}
.section-featuredblocks
  .section--light
  .featuredblocks-grid-f
  .featuredblock__cta
  .component__link--1 {
  color: #000 !important;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-a
  .featuredblock__title,
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-a
  .featuredblock__content
  p,
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-b
  .featuredblock__title,
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-b
  .featuredblock__content
  p {
  color: #000;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-a
  .featuredblock__cta
  .cta__button,
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-a
  .featuredblock__cta
  .cta__button--icon,
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-b
  .featuredblock__cta
  .cta__button,
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-b
  .featuredblock__cta
  .cta__button--icon {
  font-family: "DM Serif Text", serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 6px 52px;
  color: #fff !important;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-a
  .featuredblock__cta
  .cta__button--icon,
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-b
  .featuredblock__cta
  .cta__button--icon {
  margin-top: 1.875rem;
  color: #fff;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-a
  .featuredblock__cta
  .cta__button--icon:hover,
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-b
  .featuredblock__cta
  .cta__button--icon:hover {
  color: #fff;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-a
  .featuredblock__cta
  .component__link--1,
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-b
  .featuredblock__cta
  .component__link--1 {
  color: #000;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-c
  .featuredblock__cta
  .cta__button,
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-c
  .featuredblock__cta
  .cta__button--icon {
  font-family: "DM Serif Text", serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 6px 52px;
  color: #fff !important;
  border: 2px solid #fff !important;
  box-shadow: #fff 5px 5px 0 0;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-c
  .featuredblock__cta
  .cta__button:hover,
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-c
  .featuredblock__cta
  .cta__button--icon:hover {
  box-shadow: #fff 0 0 0 0;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-c
  .featuredblock__cta
  .component__button--1 {
  padding: 6px 30px;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-c
  .featuredblock__cta
  .cta__button--icon {
  margin-top: 1.875rem;
  color: #fff;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-c
  .featuredblock__cta
  .component__link--1 {
  padding: 0.1rem;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-c
  .featuredblock__cta
  .component__link--1:hover {
  color: #fff;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-d
  .featuredblock__title,
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-d
  .featuredblock__content
  p {
  color: #000;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-d
  .featuredblock__cta
  .cta__button,
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-d
  .featuredblock__cta
  .cta__button--icon {
  font-family: "DM Serif Text", serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 6px 52px;
  color: #fff !important;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-d
  .featuredblock__cta
  .cta__button--icon {
  margin-top: 1.875rem;
  color: #fff;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-d
  .featuredblock__cta
  .cta__button--icon:hover {
  color: #fff;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-d
  .featuredblock__cta
  .component__button--1 {
  padding: 6px 20px;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-d
  .featuredblock__cta
  .component__link--1 {
  color: #000;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-e
  .featuredblock__cta
  .cta__button,
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-e
  .featuredblock__cta
  .cta__button--icon {
  font-family: "DM Serif Text", serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 6px 52px;
  color: #fff !important;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-e
  .featuredblock__cta
  .cta__button--icon {
  color: #fff;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-e
  .featuredblock__cta
  .component__link--1:hover {
  text-decoration: none;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-f
  .featuredblock__content
  p {
  color: #000;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-f
  .featuredblock__cta
  .cta__button,
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-f
  .featuredblock__cta
  .cta__button--icon {
  font-family: "DM Serif Text", serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 6px 52px;
  color: #fff !important;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-f
  .featuredblock__cta
  .cta__button--icon {
  display: inline-block;
  color: #fff;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-f
  .featuredblock__cta
  .cta__button--icon:hover {
  color: #fff;
}
.section-featuredblocks
  .section--dark
  .featuredblocks-grid-f
  .featuredblock__cta
  .component__link--1 {
  color: #000 !important;
}

.section-map .section--light .map-search__zip,
.section-map .section--dark .map-search__zip {
  border: 3px solid #e8e8e8;
}
.section-map .section--light .map-a .map-search__location-distance,
.section-map .section--light .map-a .map-search__location-address,
.section-map .section--light .map-a .map-search__location-contact,
.section-map .section--light .map-a .map-search .gmap-location-list {
  color: #000;
}

@media screen and (max-width: 1199px) {
  .section .component__button a {
    border: none;
  }
}
@media screen and (max-width: 1023px) {
  .section-featuredblocks .featuredblocks-grid-a .featuredblock__title,
  .section-featuredblocks .featuredblocks-grid-b .featuredblock__title,
  .section-featuredblocks .featuredblocks-grid-c .featuredblock__title,
  .section-featuredblocks .featuredblocks-grid-d .featuredblock__title,
  .section-featuredblocks .featuredblocks-grid-e .featuredblock__title,
  .section-featuredblocks .featuredblocks-grid-f .featuredblock__title {
    margin-bottom: 1rem;
  }

  .section h1 {
    font-size: 38px;
  }
  .section h2 {
    font-size: 28px;
  }
  .section .component__subtitle {
    margin-bottom: 1rem !important;
  }
  .section .component__title:not(.staff-member__name),
  .section .form__title {
    font-size: 28px;
  }
  .section .banner .banner-c__title {
    font-size: 38px;
    overflow: visible;
    white-space: normal;
    animation: none;
  }
}
@media screen and (max-width: 768px) {
  .featuredblocks-grid-a .featuredblocks__container .featuredblock__cta,
  .featuredblocks-grid-b .featuredblocks__container .featuredblock__cta {
    display: block;
  }
  .featuredblocks-grid-a
    .featuredblocks__container
    .featuredblock__cta
    .component__link--1,
  .featuredblocks-grid-b
    .featuredblocks__container
    .featuredblock__cta
    .component__link--1 {
    margin-top: 0.5rem;
  }

  .blade-a__text .blade-a__title-subtitle,
  .blade-a__text .blade-a__description,
  .blade-a__text .blade-a__links {
    padding: 0 15px;
  }
}
@media screen and (max-width: 575px) {
  .featuredblocks-grid-c .featuredblocks__container {
    padding-top: 0 !important;
  }

  .staff-member.col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*# sourceMappingURL=sedona.css.map */
